language: r

r_packages:
  - covr
  - rcppeigen

services:
  - xvfb
  
before_install:
  - export DISPLAY=:99.0
  - sudo apt-get -y install  libglu1-mesa-dev

cache: packages

r:
  - release
  - devel

matrix:
  allow_failures:
      - r: devel

dist: bionic

# Be strict when checking our package
warnings_are_errors: false

after_success:
  - Rscript -e 'library(covr); codecov()'
