export(SqrtMean)
export(align_fPCA)
export(elastic.distance)
export(f_to_srvf)
export(gauss_model)
export(gradient)
export(horizFPCA)
export(optimum.reparam)
export(elastic.regression)
export(elastic.logistic)
export(elastic.mlogistic)
export(elastic.prediction)
export(outlier.detection)
export(rgam)
export(smooth.data)
export(time_warping)
export(vertFPCA)
import(foreach)
import(matrixcalc)
import(mvtnorm)
import(numDeriv)
import(splines)
useDynLib(fdasrvf)
