export(align_fPCA)
export(f_to_srvf)
export(gauss_model)
export(horizFPCA)
export(optimum.reparam)
export(outlier.detection)
export(rgam)
export(smooth.data)
export(SqrtMean)
export(time_warping)
export(vertFPCA)
import(foreach)
import(matrixcalc)
import(mvtnorm)
import(numDeriv)
useDynLib(fdasrvf)
